#title_page {
    font-size: 2em;
}

#content {
    margin-top: 1.5em;
}

#begin_post {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
.top-bar {
    background-color: #cceeff;
}

*/