body {
    height: 100%;
}

#title_page {
    font-size: 2em;
}

#content {
    margin-top: 1.5em;
}

#begin_post {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#image {
    width: 60%;
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    height: 50px;
    background-color: #cceeff;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-align: center;
}

/*
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;

}

*/