{% extends "posts/index.html" %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="cells" id="begin_post">
                <div class="cells">
                    <h1 class="text-center">{{ post.title }}</h1>
                </div>
                <div class="cells text-center">
                    <img src="/media/{{post.image}}">
                </div>
                <div class="text-center">
                    <p class="text-center" id="begin_post">{{post.body}}</p>
                    <a class="text-center" href="/{{ post.id }}">Read full post</a>
                </div>
            </div>

        {% endfor %}

    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}